@import url("../../css/bonus/modalInfoUser.css");
.admin_home {
    font-family: "Montserrat";
    background: url("../../img/1.jpg");
  backdrop-filter: blur(2px);
  height: 150vh;
    /* Track */
    /* Handle */
}
.wrap{
    width: 100%;
    margin-top: 10px;
}
.container {
    max-width: 1170px !important;
    margin: 0 auto;
    padding-bottom: 100px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer;
 } 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #00cf4d;
    border-radius: 10px;
}
/* header */
.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}
.navbar .logo_header {
    width: 270px;
    text-align: center;
}
.navbar .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -130px;
}
.navbar .search input {
    width: 400px;
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    border: 1px solid #efefef;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navbar .search input:focus {
    border: 1px solid #00cf4d;
}
.navbar .search .search_btn {
    width: 40px;
    height: 40px;
    background-color: #00cf4d;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.admin_home .navbar .quitBlock {
    display: none;
    position: absolute;
    right: 7px;
    background: #00cf4d;
    border-radius: 10px 0 0 10px;
    padding: 4px;
    -webkit-transform: 5s;
    -ms-transform: 5s;
    transform: 5s;
}
.admin_home .navbar .quitBlock a {
    color: #ffffff;
    -webkit-transform: 0.5s;
    -ms-transform: 0.5s;
    transform: 0.5s;
}
.admin_home .navbar .quitBlock a:hover {
    color: #100f41;
}
.navbar .chat i {
    cursor: pointer;
    color: #00cf4d;
    font-size: 35px;
     position: relative;
}
.navbar .chat i span {
    font-size: 14px;
    position: absolute;
    color: #ffffff;
    left: 10px;
    top: 10px;
    /* z-index: 3; */
}
.navbar .chat .chat_text {
    background-color: #efefef;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  width: 600px;
  top: 75px;
  left: calc(100% / 2.05);
  z-index: 1;
  visibility: hidden;
}
.navbar .chat .chat_text li {
    list-style: none;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
}
  
.admin_home .navbar .chat .chat_text li  {
    color: #100f41;
}

.navbar .chat .chat_text li:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00cf4d;
    position: absolute;
    top: 5px;
    left: 0;
    right: 20px;
}

.admin_home textarea::-webkit-scrollbar, .admin_home .tasks::-webkit-scrollbar, .admin_home .error_questions::-webkit-scrollbar, .admin_home .error_questions_text::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer;
}
  
.admin_home textarea::-webkit-scrollbar-track, .admin_home .tasks::-webkit-scrollbar-track, .admin_home .error_questions::-webkit-scrollbar-track, .admin_home .error_questions_text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.navbar .avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #00cf4d;
    padding: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
    
}
.navbar .avatar img {
    position: absolute;
    width: 67px;
    height: 67px;
    -o-object-fit: cover;
       object-fit: cover;
}
/* ############ bar menu style ############ */
/* .header_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    width: 1170px;
} */
.admin_home .menu {
    margin-top: 20px;
}

.header_title .menu_item {
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 12px 20px rgba(255, 255, 255, 0.3);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.3);
}
.header_title .menu_item .all_category {
    width: 100%;
    height: 40px;
    background-color: #12114a;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding: 0 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header_title .menu_item .menu_list {
    width: 100%;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #100f41;
    border: 1px solid #00cf4d;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-top: none;
}
.admin_home .menu .sub_menu {
    display: none;
}
.admin_home .menu .sub_menu li {
    width: 100%;
    height: 30px;
} 
.admin_home .menu .sub_menu li a {
    width: 100%;
    height: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    background: #2d303391;
}
.admin_home .menu .sub_menu li a:hover {
    color: #ffffff;
    background: #00cf4d;
}
.admin_home .menu_item .menu_list .todown {
    position: absolute;
    opacity: 1;
    top: 15px;
    right: 9px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.admin_home .menu_item .menu_list .todown.upactive {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.admin_home .header_title {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: -30px;
}
  
.admin_home .header_title .info_item {
    width: 800px;
}


/* ############ blocks ############ */
.main_block{
    display: flex;
    border-radius: 5px;
    width: 800px;
    padding: 10px;
    background: url('../../img/userEditHeader.jpg');
    margin-top: 18px;
}

/* ############ левый блок ############ */
.left_block{
    width: 43%;
    border: 1px solid lightgrey;
    border-radius: 20px;
    overflow: hidden;
}
.left_block_buttons{
    width: 100%;
    margin: 10px 15px;
}
.left_block_btn{
    border: 1px solid #00cf4d;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: white;
    cursor: pointer;
    outline: none;
}
.add_bg{
    background-color: #00cf4d;
    color: white;
}
.bonus_search{
    margin: 10px auto;
    width: 250px;    
}
.bonus_left_block_search{
    border-radius: 10px;
    outline: none;
    border: 1px solid lightgrey;
    transition: .3s;
    padding: 5px;
    width: 100%; 
    font-family: "Montserrat";
}
.bonus_left_block_search:focus{
    border: 1px solid #00CF4D;
    box-shadow: 0 2px 4px  #00CF4D;
}
/* ############ блок пользователи ############### */
.bonus_item{
    width: 98%;
    height: 350px;
    overflow-y: auto;
    margin: auto;
    
}
.bonus_item::-webkit-scrollbar{
    width: 5px;
    background-color: lightgray;
    border-radius: 5px;
}
.bonus_item::-webkit-scrollbar-thumb{
    background-color: #00cf4d;
    border-radius: 10px;
}
.bonus_item_inner{
    display: flex;
    font-size: 14px;
    position: relative;
    align-items: center;
    background-color: #EEEEEF;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 5px;
    margin-right: 5px;
}
.bonus_item_inner:hover{
    transition: all .08s linear;
    background-color: #fff;
}
.bonus_inner_info{
    margin-left: 10px;
}
.nickname_button{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.bonus_nickname{
    text-decoration: none;
    color: #00cf4d;
}
.bonus_nickname:hover{
    text-decoration: underline;
}
.bonus_type{
    font-size: 11px;
    margin-top: 5px;
    color: gray;
}
.nickname_button .fas{
    margin-left: 5px;
}
.nickname_button .fas:hover{
    color: #00cf4d;
}

/* ############ чекбоксы на блоке пользователи ############ */
.checkbox input{
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    left: 215px; 
    height: 15px;
    width: 15px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}
.checkbox input:checked ~ .checkmark{
    background-color: #00cf4d;
    border: 1px solid #00CF4D;
    transition: .3s;
}
.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}
.checkbox input:checked ~ .checkmark:after {
    display: block;
}
.checkbox .checkmark:after {
    left: 4.5px;
    top: 1.5px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*################## правый блок ####################*/

.right_block{
    width: 75%;
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin-left: 10px;
    height: 433px;
    overflow-y: auto;
    position: relative;
}
.right_block::-webkit-scrollbar{
    width: 5px;
    background-color: #bbc1ce75;
    border-radius: 5px;
    
}
.right_block::-webkit-scrollbar-thumb{
    background-color: #565e6e4f;
    border-radius: 5px;
}
.right_block_inner{
    display: none;
}
.right_block_box, .right_block_box1{
    width: 95%;
    margin: 10px auto;
    border-radius: 20px;
    background-color: #eeeeee;
    padding: 15px 0;
    border-radius: 20px;
    transition: all .2s ease;
    border: 1px solid white;
}
.right_block_box:hover, .right_block_box1:hover{
    background-color: white;
    border: 1px solid lightgrey;
}
.right_block_box_inner{
    width: 90%;
    margin: 0 auto;
}
.box_header{
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    color: #100f41;
}
.box_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_text_left{
    margin: 10px 0;
}
.l_pos{
    margin-right: 23px;
    font-size: 14px;
}
.l_srok{
    margin-right: 46px;
    font-size: 14px;
}
.position{
    outline: none;
    border: 1px solid #00cf4d;
    border-radius: 5px;
    padding: 3px 25px;
    margin-bottom: 15px;
}

.date{
    outline: none;
    border-radius: 5px;
    border: 1px solid #00cf4d;
    padding: 5px;
}
.box_text_right{
    position: relative;
}
.box_text_right .checkmark{
    position: absolute;
    left: -20px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}
.box_text_right .checkmark::after{
    left: 9px;
    top: 3px;
    /* border-radius: 3px; */
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.send_button{
    text-align: center;
}
.send_btn{
    padding: 5px 15px;
    background-color: #00cf4d;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    margin: 10px 0;
    transition: all .3s linear;
}
.send_btn:hover{
    box-shadow: 0px 2px 10px 0px #00cf4d;
    color: white;
}

.change_back{
    background-color: #00cf4d !important;
    color: white !important;
}

